In [3]:
import numpy as np
import pandas as pd

In [49]:
df = pd.read_csv('USA_Housing.csv')

In [50]:
df.drop('Address',axis= 1, inplace =True)

In [51]:
df.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05

In [53]:
data = np.array(df)

In [72]:
data[:,:0]

array([], shape=(5000, 0), dtype=float64)

In [76]:
for i in range(0,5):
    data[:,i]= ((data[:,i] - np.mean(data[:,i]))/np.std(data[:, i]))

In [77]:
data

array([[ 1.02865969e+00, -2.96927045e-01,  2.12743337e-02,
         8.80622210e-02, -1.31759867e+00,  1.05903356e+06],
       [ 1.00080775e+00,  2.59016401e-02, -2.55506107e-01,
        -7.22301458e-01,  4.03999446e-01,  1.50589091e+06],
       [-6.84629155e-01, -1.12302825e-01,  1.51624350e+00,
         9.30840447e-01,  7.24098903e-02,  1.05898799e+06],
       ...,
       [-4.87234537e-01,  1.28447022e+00, -2.17026949e+00,
        -1.50025059e+00, -2.91936578e-01,  1.03072958e+06],
       [-5.45915195e-02, -4.46694386e-01,  1.41540612e-01,
         1.18205319e+00,  6.51116083e-01,  1.19865687e+06],
       [-2.88312724e-01,  1.52147729e-02, -1.94341655e-01,
         7.18549474e-02,  1.04162464e+00,  1.29895048e+06]])

In [82]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

#variables to store mean and standard deviation for each feature
mu = []
std = []

def load_data(filename):
	df = pd.read_csv(filename, sep=",", index_col=False)
	df = df.drop('Address',axis= 1, inplace =True)
	data = np.array(df, dtype=float)
	normalize(data)
	return data[:,:5], data[:,-1]

def plot_data(x, y):
	plt.xlabel('house size')
	plt.ylabel('price')
	plt.plot(x[:,0], y, 'bo')
	plt.show()

def normalize(data):
	for i in range(0,5):
		data[:,i] = ((data[:,i] - np.mean(data[:,i]))/np.std(data[:, i]))
		mu.append(np.mean(data[:,i]))
		std.append(np.std(data[:, i]))


def h(x,theta):
	return np.matmul(x, theta)

def cost_function(x, y, theta):
	return ((h(x, theta)-y).T@(h(x, theta)-y))/(2*y.shape[0])

def gradient_descent(x, y, theta, learning_rate=0.1, num_epochs=10):
	m = x.shape[0]
	J_all = []
	
	for _ in range(num_epochs):
		h_x = h(x, theta)
		cost_ = (1/m)*(x.T@(h_x - y))
		theta = theta - (learning_rate)*cost_
		J_all.append(cost_function(x, y, theta))

	return theta, J_all 

def plot_cost(J_all, num_epochs):
	plt.xlabel('Epochs')
	plt.ylabel('Cost')
	plt.plot(num_epochs, J_all, 'm', linewidth = "5")
	plt.show()

def test(theta, x):
	x[0] = (x[0] - mu[0])/std[0]
	x[1] = (x[1] - mu[1])/std[1]

	y = theta[0] + theta[1]*x[0] + theta[2]*x[1]
	print("Price of house: ", y)

x,y = load_data("USA_Housing.csv")
y = np.reshape(y, (5000,1))
x = np.hstack((np.ones((x.shape[0],1)), x))
theta = np.zeros((x.shape[1], 1))
learning_rate = 0.1
num_epochs = 50
theta, J_all = gradient_descent(x, y, theta, learning_rate, num_epochs)
J = cost_function(x, y, theta)
print("Cost: ", J)
print("Parameters: ", theta)

#for testing and plotting cost 
n_epochs = []
jplot = []
count = 0
for i in J_all:
	jplot.append(i[0][0])
	n_epochs.append(count)
	count += 1
jplot = np.array(jplot)
n_epochs = np.array(n_epochs)
plot_cost(jplot, n_epochs)

test(theta, [1600, 3])

IndexError: too many indices for array: array is 0-dimensional, but 2 were indexed